@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --color-blue-transparent: rgba(10, 51, 92,0.5);    
    --color-nude: #D9D8D6;
    --color-white: #FFFFFF;
    --color-nude-clean: #EFEFDF;
    --color-lapis-blue: #003462;
    --color-black: #000000;
    --color-black-40: #A9AEAB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#wiyp-home {
    width: 290px;
    margin: 0 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.wiyp-home-image {
    width: 290px;    
    position: relative;
    opacity: 0.90;    
}

.wiyp-welcome-container {
    position: absolute;       
}

.wiyp-text-welcome {
    color: var(--color-nude-clean);
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    background-color: var(--color-blue-transparent);
    border-radius: 4px;       
}

#wiyp-about {
    background-color: var(--color-nude-clean);
    width: 290px;
    margin: 0 10px 0 0;    
}

.wiyp-about-title {
    color: var(--color-lapis-blue);
    font-size: 18px;
    font-weight: 700;
    padding: 35px 0 30px;
}

.wiyp-about-text {
    color: var(--color-black);
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px 35px;
}

#wiyp-problem {
    width: 290px;
    margin: 0 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wiyp-problem-image {
    width: 290px;
    position: relative;
    opacity: 0.90;
}

.wiyp-problem-container {
    position: absolute;
}

.wiyp-text-problem {
    color: var(--color-black);
    font-size: 23px;
    font-weight: 700;
    opacity: 0.7;
}

#wiyp-meaning {
    background-color: var(--color-nude);
    width: 290px;
    margin: 0 10px 0 0;
}

.wiyp-meaning-title {
    color: var(--color-lapis-blue);
    font-size: 18px;
    font-weight: 700;
    padding: 35px 0 30px;
}

.wiyp-meaning-text {
    color: var(--color-black);
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px 35px;
}

#wiyp-solution {
    width: 290px;
    margin: 0 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.wiyp-solution-image {
    width: 290px;    
    position: relative;
    opacity: 0.90;
}

.wiyp-solution-container {
    position: absolute;
}

.wiyp-text-solution {
    color: var(--color-black);
    font-size: 24px;
    font-weight: 700;
    opacity: 0.7;
}

#wiyp-sectors {
    width: 290px;
    margin: 0 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.wiyp-legal {
    margin-top: 37px;
}
.wiyp-legal img {
    width: 290px;

}
.wiyp-consultancy {
    margin-top: 37px;
}

.wiyp-consultancy img {
    width: 290px;
}

.wiyp-invoicing {
    margin-top: 37px;
}

.wiyp-invoicing img {
    width: 290px;
}

.wiyp-tech {
    margin-top: 37px;
}

.wiyp-tech img {
    width: 290px;
}

.wiyp-media {
    margin-top: 37px;
}

.wiyp-media img {
    width: 290px;
}

.wiyp-health {
    margin-top: 37px;
}

.wiyp-health img {
    width: 290px;
}


