@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --color-blue-transparent: rgba(10, 51, 92,0.5);    
    --color-nude: #D9D8D6;
    --color-white: #FFFFFF;
    --color-nude-clean: #EFEFDF;
    --color-lapis-blue: #003462;
    --color-black: #000000;
    --color-black-40: #A9AEAB;
    --color-yellow: #F7DF1A
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

span {
    color: var(--color-black);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*main {
    background-color: var(--color-black-40);
}*/

#wiyp-home {    
    display: flex;
    justify-content: center;
    align-items: center;       
}

.wiyp-home-image {
    width: 100%;
    height: 50%;        
    position: relative;
    opacity: 0.90;    
}

.wiyp-welcome-container {
    position: absolute;       
}

.wiyp-text-welcome {
    color: var(--color-nude-clean);
    font-size: 23px;
    font-weight: 700;
    padding: 10px;
    background-color: var(--color-blue-transparent);
    border-radius: 4px;       
}

.wiyp-about-title {
    background-color: var(--color-nude-clean);        
}

.wiyp-about-title h2 {
    color: var(--color-lapis-blue);
    font-size: 24px;
    font-weight: 700;
    padding: 35px 0 30px;
}

.wiyp-about-text {        
    background-color: var(--color-white);
    margin: 0 10px 20px;    
    border-radius: 8px;       
}

.wiyp-about-text h3 {
    font-size: 18px;
    color: var(--color-black);
    padding: 15px;
}

.wiyp-about-text p {
    color: var(--color-black);
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px 35px;
}

.wiyp-initials {
    color: var(--color-lapis-blue);
    font-size: 32px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

#wiyp-problem {    
    display: flex;
    justify-content: center;
    align-items: center;
}

.wiyp-problem-image {
    width: 100%;
    height: 50%;
    position: relative;
    opacity: 0.90;
}

.wiyp-problem-container {
    position: absolute;
}

.wiyp-text-problem {
    color: var(--color-black);
    font-size: 23px;
    font-weight: 700;
    opacity: 0.7;
}

#wiyp-meaning {
    background-color: var(--color-nude);    
}

.wiyp-meaning-title {
    color: var(--color-lapis-blue);
    font-size: 18px;
    font-weight: 700;
    padding: 35px 0 30px;
}

.wiyp-meaning-text {
    color: var(--color-black);
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px 35px;
}

#wiyp-solution {    
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.wiyp-solution-image {
    width: 100%;
    height: 50%;    
    position: relative;
    opacity: 0.90;
}

.wiyp-solution-text {
    position: absolute;
}

.wiyp-solution-text h1 {
    color: var(--color-yellow);
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 20px;    
}

#wiyp-sectors {    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-nude-clean)    
}

.wiyp-sectors-card {
    margin-top: 37px;
    background-color: var(--color-white);
    border-radius: 8px;       
}
.wiyp-sectors-card img {
    width: 320px;
    border-radius: 8px 8px 0 0;

}
.wiyp-consultancy {
    margin-top: 37px;
}

.wiyp-consultancy img {
    width: 290px;
}

.wiyp-invoicing {
    margin-top: 37px;
}

.wiyp-invoicing img {
    width: 290px;
}

.wiyp-tech {
    margin-top: 37px;
}

.wiyp-tech img {
    width: 290px;
}

.wiyp-media {
    margin-top: 37px;
}

.wiyp-media img {
    width: 290px;
}

.wiyp-health {
    margin-top: 37px;
}

.wiyp-health img {
    width: 290px;
}


