@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* VARIABLES*/

:root{
    --color-blue-transparent: rgba(10, 51, 92,0.5);    
    --color-nude: #D9D8D6;
    --color-white: #FFFFFF;
    --color-nude-clean: #EFEFDF;
    --color-lapis-blue: #003462;
    --color-black: #130F10;
    --color-black-40: #A9AEAB;
    --color-yellow: #F7DF1A;
    --color-decrade: #383838;
}

/*ELEMENTS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

span {
    color: var(--color-black);    
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;    
}

/*CLASSES*/

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#wiyp-home {    
    display: flex;
    justify-content: center;
    align-items: center;           
}

.wiyp-home-image {
    width: 100%;
    height: 50%;        
    position: relative;
    opacity: 0.90;    
}

.wiyp-welcome-container {
    position: absolute;       
}

.wiyp-text-welcome {
    color: var(--color-nude-clean);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px;
    background-color: var(--color-blue-transparent);
    border-radius: 4px;       
}

#wiyp-about {
    background-color: var(--color-nude-clean);
}

.wiyp-about-title h2 {
    color: var(--color-lapis-blue);
    font-size: 24px;
    font-weight: 700;
    padding: 35px 0 30px;
}

.wiyp-about-text {        
    background-color: var(--color-white);
    margin: 0 10px 20px;    
    border-radius: 8px;    
}

.wiyp-about-text h3 {
    font-size: 18px;
    color: var(--color-black);
    padding: 15px;
}

.wiyp-about-text p {
    color: var(--color-black);
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px 35px;
    text-align: justify;
}

.wiyp-initials {
    color: var(--color-lapis-blue);
    font-size: 32px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

#wiyp-problem {    
    display: flex;
    justify-content: center;
    align-items: center;        
}

.wiyp-problem-image {
    width: 100%;
    height: 50%;
    position: relative;
    opacity: 0.90;
}

.wiyp-problem-title {
     position: absolute;         
}

.wiyp-problem-text {
    color: var(--color-black);
    font-size: 1.5rem;
    font-weight: 700;
    opacity: 0.7;          
}

#wiyp-meaning {
    background-color: var(--color-nude);    
}

.wiyp-meaning-title {
    color: var(--color-lapis-blue);
    font-size: 18px;
    font-weight: 700;
    padding: 35px 0 30px;
}

.wiyp-meaning-text {
    color: var(--color-black);
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px 35px;
}

#wiyp-solution {    
    display: flex;
    justify-content: center;
    align-items: flex-end;    
}

.wiyp-solution-image {
    width: 100%;
    height: 50%;    
    position: relative;
    opacity: 0.90;
}

.wiyp-solution-text {
    position: absolute;
}

.wiyp-solution-text h1 {
    color: var(--color-yellow);
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 20px;    
}

#wiyp-sectors {    
    display: flex;
    justify-content: center;    
    background-color: var(--color-nude-clean);    
}

.wiyp-sectors-card-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;    
}

.wiyp-sectors-card {
    margin: 20px;
    background-color: var(--color-white);
    border-radius: 8px;       
}
.wiyp-sectors-card img {
    width: 320px;
    border-radius: 8px 8px 0 0;
}

.wiyp-sectors-text h3 {
    color: var(--color-lapis-blue);
    padding: 25px;
    font-size: 18px;
}

#sign-up {
    background-color: var(--color-nude);    
}

.title-section {
    color: var(--color-lapis-blue);
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
}

.ctrl-consoles {
    width: 320px;
    height: 600px;
    max-width: 790px;
    background-color: var(--color-nude-clean);
    border-radius: 8px;
    margin: 0 0 40px;
}

.user-name-container {
    padding: 52px 12px 0;
}

.text-box {
    border: 1px solid var(--color-black-40);
    width: 268px;
    height: 50px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
}

.user-email-container {
    padding: 20px 12px 20px;
}

.games-container {
    color: var(--color-lapis-blue);
    font-size: 16px;
    font-weight: 400;
    padding: 0 12px 0;
}

.send-email-container {
    color: var(--color-lapis-blue);
    font-size: 16px;
    font-weight: 400;
    padding: 35px 12px 0;
}

.button-container-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button-margin {
    margin: 30px;
}

.color-send {
    background-color: var(--color-nude);
    color: var(--color-lapis-blue);
}

.button {
    width: 244px;
    height: 67px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.color-reset {
    background-color: var(--color-lapis-blue);
    color: var(--color-nude);
}

#wiyp-company {
    background-color: var(--color-black-40);
}

.wiyp-company-social ul {
    display: flex;
}

.wiyp-social {
    width: 45px;
    margin: 20px;    
}

.wiyp-company-legal {
    margin: 10px;
    font-size: 16px;    
}

.wiyp-company-juridic {
    margin-bottom: 10px;
       
}

.wiyp-company-juridic a {
    color: var(--color-black);
    font-size: 16px;
}

@media (min-width: 576px) {

    html {
        font-size: 24px;
    }

    #wiyp-home {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: url("/img/wiyp-home.jpg");
    }

    .wiyp-home-image {
        opacity: 0;
    }

    #wiyp-problem {        
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: url("/img/wiyp-problem.jpg");    
    }

    .wiyp-problem-image {        
        opacity: 0;
    }

    #wiyp-solution {        
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: url("/img/wiyp-solution.jpg");
    }

    .wiyp-solution-image {        
        opacity: 0;
    }

    #wiyp-solution {        
        align-items: center;    
    }
}

@media (min-width: 768px) {

    html {
        font-size: 32px;
    }
}

@media (min-width: 992px) {
    
    html {
        font-size: 40px;
    }

    #wiyp-company {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 20px 0 0;
    }

    .wiyp-company-legal {
        margin: 0 125px 0 0;
    }
}

